.square {
  animation: spin 6s linear infinite ; /* xoay 6 giây 1 vòng */
}

.diamond {
  animation: spin 5s linear infinite reverse   ; /* xoay ngược, tốc độ khác */
}

@keyframes spin 
{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}